.content-holder {
  background-color: #dedede;
  font-family: 'Oxygen', sans-serif;
}

#head-title {
  display: flex;
  justify-content: center;
  margin-top: -10%;
  margin-bottom: 10%;
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
  transition: opacity 0.2s 0 ease;
  /* Mouse leave: immediate */
}

#head-title:hover {
  opacity: 0;
  transition: opacity 0.2s 0.5s ease;
  /* Mouse enter: delay */
}

#footer-text {
  text-align: center;
  font-size: xx-small;
}